$primary-color: #673ab7;
$primary-light: #9a67ea;
$primary-dark: #320b86;
$secondary-color: #4527a0;
$secondary-light: #7953d2;
$secondary-dark: #000070;
$white: #fff;
$light-gray: #ecf0f1; 
$md-gray: #e1e2e1;
$gray: #bdc3c7; 
$dark-gray: #343a40;

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #27ae60;
    font-family: "proxima-nova", "Source Sans Pro", sans-serif;
    font-size: 1em;
    letter-spacing: 0.1px;
    color: #475356;
    text-rendering: optimizeLegibility;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
    -webkit-font-smoothing: antialiased;
  }

ul {
  list-style-type: none;
  left:-40px;
}

div#app {
  width: 100%;
}

#frame {
  width: 100%;
  height: 100vh;
}

@media screen and (max-width: 360px) {
  #frame {
    width: 100%;
    height: 100vh;
  }
}
#frame #sidepanel {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  float: left;
  min-width: 280px;
  max-width: 400px;
  width: 40%;
  height: 100%;
  background: $light-gray;
  color: #475356;
  overflow: hidden;
  position: relative;
}
@media screen and (max-width: 735px) {
  #frame #sidepanel {
    width: 58px;
    min-width: 58px;
  }
}
#frame #sidepanel #profile {
  width: 100%;
  padding: 60px;
  padding: 0 5px;
  background-color: $primary-dark;
}
@media screen and (max-width: 735px) {
  #frame #sidepanel #profile {
    width: 100%;
    margin: 0 auto;
    padding: 5px 0 0 0;
    background: #ffffff;
  }
}
#frame #sidepanel #profile.expanded .wrap {
  height: 210px;
  line-height: initial;
}
#frame #sidepanel #profile.expanded .wrap p {
  margin-top: 20px;
  color: $white;
}
#frame #sidepanel #profile.expanded .wrap i.expand-button {
  -moz-transform: scaleY(-1);
  -o-transform: scaleY(-1);
  -webkit-transform: scaleY(-1);
  transform: scaleY(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}
#frame #sidepanel #profile .wrap {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 60px;
  line-height: 60px;
  overflow: hidden;
  -moz-transition: 0.3s height ease;
  -o-transition: 0.3s height ease;
  -webkit-transition: 0.3s height ease;
  transition: 0.3s height ease;
}
@media screen and (max-width: 735px) {
  #frame #sidepanel #profile .wrap {
    height: 55px;
  }
}
#frame #sidepanel #profile .wrap img {
  width: 50px;
  border-radius: 50%;
  padding: 3px;
  // border: 2px solid #eaeaea;
  height: auto;
  cursor: pointer;
  -moz-transition: 0.3s border ease;
  -o-transition: 0.3s border ease;
  -webkit-transition: 0.3s border ease;
  transition: 0.3s border ease;
}
@media screen and (max-width: 735px) {
  #frame #sidepanel #profile .wrap img {
    width: 40px;
    margin-left: 4px;
  }
}
// #frame #sidepanel #profile .wrap img.notification {
//   border: 2px solid #2ecc71;
// }
#frame #sidepanel #profile .wrap p {
  float: left;
  margin:0 0 0 15px;
  color: $light-gray;
}
@media screen and (max-width: 735px) {
  #frame #sidepanel #profile .wrap p {
    display: none;
  }
}
#frame #sidepanel #profile .wrap i.expand-button {
  float: right;
  margin-top: 23px;
  font-size: 0.8em;
  cursor: pointer;
  color: #ffffff;
}
@media screen and (max-width: 735px) {
  #frame #sidepanel #profile .wrap i.expand-button {
    display: none;
  }
}
#frame #sidepanel #profile .wrap #status-options {
  position: absolute;
  opacity: 0;
  visibility: hidden;
  width: 150px;
  margin: 70px 0 0 0;
  border-radius: 6px;
  z-index: 99;
  line-height: initial;
  background: #ffffff;
  -moz-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
@media screen and (max-width: 735px) {
  #frame #sidepanel #profile .wrap #status-options {
    width: 58px;
    margin-top: 57px;
  }
}
#frame #sidepanel #profile .wrap #status-options.active {
  opacity: 1;
  visibility: visible;
  margin: 75px 0 0 0;
}
@media screen and (max-width: 735px) {
  #frame #sidepanel #profile .wrap #status-options.active {
    margin-top: 62px;
  }
}
#frame #sidepanel #profile .wrap #status-options:before {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 8px solid #ffffff;
  margin: -8px 0 0 24px;
}
@media screen and (max-width: 735px) {
  #frame #sidepanel #profile .wrap #status-options:before {
    margin-left: 23px;
  }
}
#frame #sidepanel #profile .wrap #status-options ul {
  overflow: hidden;
  border-radius: 6px;
}
#frame #sidepanel #profile .wrap #status-options ul li {
  padding: 15px 0 30px 18px;
  display: block;
  cursor: pointer;
}
@media screen and (max-width: 735px) {
  #frame #sidepanel #profile .wrap #status-options ul li {
    padding: 15px 0 35px 22px;
  }
}
#frame #sidepanel #profile .wrap #status-options ul li:hover {
  background: #496886;
}
#frame #sidepanel #profile .wrap #status-options ul li span.status-circle {
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin: 5px 0 0 0;
}
@media screen and (max-width: 735px) {
  #frame #sidepanel #profile .wrap #status-options ul li span.status-circle {
    width: 14px;
    height: 14px;
  }
}
#frame #sidepanel #profile .wrap #status-options ul li span.status-circle:before {
  content: '';
  position: absolute;
  width: 14px;
  height: 14px;
  margin: -3px 0 0 -3px;
  background: transparent;
  border-radius: 50%;
  z-index: 0;
}
@media screen and (max-width: 735px) {
  #frame #sidepanel #profile .wrap #status-options ul li span.status-circle:before {
    height: 18px;
    width: 18px;
  }
}
#frame #sidepanel #profile .wrap #status-options ul li p {
  padding-left: 12px;
}
@media screen and (max-width: 735px) {
  #frame #sidepanel #profile .wrap #status-options ul li p {
    display: none;
  }
}
#frame #sidepanel #profile .wrap #status-options ul li#status-notification span.status-circle {
  background: #2ecc71;
}
#frame #sidepanel #profile .wrap #status-options ul li#status-notification.active span.status-circle:before {
  border: 1px solid #2ecc71;
}
#frame #sidepanel #profile .wrap #expanded {
  padding: 100px 0 0 0;
  display: block;
  line-height: initial;
}
#frame #sidepanel #profile .wrap #expanded label {
  float: left;
  clear: both;
  margin: 0 8px 5px 0;
  padding: 5px 0;
}
#frame #sidepanel #profile .wrap #expanded input {
  border: none;
  margin-bottom: 6px;
  background: #ffffff;
  border-radius: 3px;
  color: #475356;
  padding: 7px;
  width: calc(100% - 43px);
}
#frame #sidepanel #profile .wrap #expanded input:focus {
  outline: none;
  background: #ffffff;
}

#frame #sidepanel #profile .wrap .btns {
  position: absolute;
  right: 10px;
  display: flex;
}

#frame #sidepanel #profile .wrap .btns i {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 1.5rem;
  margin: 0 auto;
  width: 30px;
  height: 30px;
  color: $light-gray;
  transition: ease-in-out 250ms;
}

#frame #sidepanel #profile .wrap .btns i:hover{
  color: $dark-gray;
}

// SEARCH

#frame #sidepanel #search {
  width: 100%;
}

@media screen and (max-width: 735px) {
  #frame #sidepanel #search {
    display: none;
  }
}

#frame #sidepanel #search label {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0 0 0 10px;
  margin: 0 auto;
  height: 50px;
  background-color: $gray;
  font-weight: 300;
}

#frame #sidepanel #search label i {
  margin: 0 10px;
  font-size: 1.5rem;
}

#frame #sidepanel #search label input {
  font-family: "proxima-nova",  "Source Sans Pro", sans-serif;
  border-radius: none;
  width: 100%;
  height: 40px;
  border: none;
  background: none;
  color: $dark-gray;
}
#frame #sidepanel #search input:focus  {
  outline: none;  
}

#frame #sidepanel #search input::-webkit-input-placeholder {
  color: $dark-gray;
}
#frame #sidepanel #search input::-moz-placeholder {
  color: $dark-gray;
}
#frame #sidepanel #search input:-ms-input-placeholder {
  color: $dark-gray;
}
#frame #sidepanel #search input:-moz-placeholder {
  color: $dark-gray;
}

// CONTATOS

#frame #sidepanel #contacts {
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
 }

@media screen and (max-width: 735px) {
  #frame #sidepanel #contacts {
    height: calc(100% - 149px);
    overflow-y: hidden;
    overflow-x: hidden;
  }
  #frame #sidepanel #contacts::-webkit-scrollbar {
    display: none;
    background: #ffffff;
  }
}

#frame #sidepanel #contacts.expanded {
  height: calc(100% - 334px);
}

#frame #sidepanel #contacts::-webkit-scrollbar {
  width: 8px;
  background: #e6eaea;
}

#frame #sidepanel #contacts::-webkit-scrollbar-thumb {
  background-color: #243140;
}

#frame #sidepanel #contacts ul {
  position: relative;
}

#frame #sidepanel #contacts ul li.contact {
  width: 400px;
  height: 75px;
  font-size: 1rem;
  cursor: pointer;
}

@media screen and (max-width: 735px) {
  #frame #sidepanel #contacts ul li.contact {
    padding: 6px 0 46px 8px;
  }
}

#frame #sidepanel #contacts ul li.contact:hover {
  background: $md-gray;
  color: $dark-gray;
}

#frame #sidepanel #contacts ul li.contact.active {
  background: #ffffff;
  border-right: 5px solid #ffffff;
}

#frame #sidepanel #contacts ul li.contact.active span.contact-status {
  border: 2px solid #ffffff;
}

#frame #sidepanel #contacts ul li.contact .wrap {
  display: flex;
  align-items: center;
  padding: 10px 15px;
  width: 400px;
  height: 75px;
  margin: 0;
  left: 0;
}

@media screen and (max-width: 735px) {
  #frame #sidepanel #contacts ul li.contact .wrap {
    width: 100%;
    height: auto;
  }
}


#frame #sidepanel #contacts ul li.contact .wrap img {
  width: 40px;
  border-radius: 50%;
}

@media screen and (max-width: 735px) {
  #frame #sidepanel #contacts ul li.contact .wrap img {
    margin-right: 0px;
  }
}

#frame #sidepanel #contacts ul li.contact .wrap .meta {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 15px;
  width: 75%;
}

@media screen and (max-width: 735px) {
  #frame #sidepanel #contacts ul li.contact .wrap .meta {
    display: none;
  }
}
#frame #sidepanel #contacts ul li.contact .wrap .meta .name {
  font-weight: 600;
  margin-bottom: 0;
}
#frame #sidepanel #contacts ul li.contact .wrap .meta .preview {
  color: $gray;
  font-size: 0.80rem;
  padding: 0 0 1px;
  font-weight: 400;
  margin-bottom: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -moz-transition: 1s all ease;
  -o-transition: 1s all ease;
  -webkit-transition: 1s all ease;
  transition: 1s all ease;
}

#frame #sidepanel #contacts ul li.contact .wrap span.notification {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 0;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #2ecc71;
  color: white;
  font-size: 0.75rem;
  font-weight: bold;
}

// CONTENT

#frame .content {
  float: right;
  height: 100%;
  overflow: hidden;
  position: relative;
}
@media screen and (max-width: 735px) {
  #frame .content {
    width: calc(100% - 58px);
    min-width: 300px !important;
  }
}
@media screen and (min-width: 900px) {
  #frame .content {
    width: calc(100% - 400px);
  }
}
#frame .content .contact-profile {
  display: flex;
  align-items: center;
  width: 100%;
  height: 60px;
  padding: 15px;
  background: $primary-dark;
  border-left: 1px solid $primary-color;
}
#frame .content .contact-profile img {
  width: 50px;
  padding: 3px;
  border-radius: 50%;
}

#frame .content .contact-profile p {
  color: $white;
  margin: 0 0 0 15px;
}

#frame .content .contact-profile i {
  cursor: pointer;
  color: $white;
  position: absolute;
  right: 25px;
}

#frame .content .contact-profile .social-media {
  float: right;
}
#frame .content .contact-profile .social-media i {
  margin-left: 14px;
  cursor: pointer;
}
#frame .content .contact-profile .social-media i:nth-last-child(1) {
  margin-right: 20px;
}
#frame .content .contact-profile .social-media i:hover {
  color: #ffffff;
}

// MESSAGES 

#frame .content .messages {
  height: auto;
  min-height: calc(100% - 120px);
  max-height: calc(100% - 120px);
  overflow-y: auto;
  overflow-x: hidden;
  background: #efeeee;
  width: 100%;
}
@media screen and (max-width: 735px) {
  #frame .content .messages {
    max-height: calc(100% - 105px);
  }
}
#frame .content .messages::-webkit-scrollbar {
  width: 8px;
  background: transparent;
}
#frame .content .messages::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3);
}
#frame .content .messages ul li {
  display: inline-block;
  clear: both;
  margin: 15px 15px 5px 15px;
  width: calc(100% - 25px);
  font-size: 0.9em;
}
#frame .content .messages ul li:nth-last-child(1) {
  margin-bottom: 20px;
}
#frame .content .messages ul li.replies img {
  margin: 6px 8px 0 0;
}
#frame .content .messages ul li.replies p {
  background: #ffffff;
  color: #475356;
}
#frame .content .messages ul li.sent img {
  float: right;
  margin: 6px 0 0 8px;
}
#frame .content .messages ul li.sent p {
  background: #3f5fc7;
  float: right;
  color: #ffffff;
}
#frame .content .messages ul li img {
  width: 22px;
  border-radius: 50%;
  float: left;
}
#frame .content .messages ul li p {
  display: inline-block;
  padding: 10px 15px;
  border-radius: 20px;
  max-width: 205px;
  line-height: 130%;
}
@media screen and (min-width: 735px) {
  #frame .content .messages ul li p {
    max-width: 300px;
  }
}

// MENSSAGE INPUT

#frame .content .message-input {
  width: 100%;
  height: 60px;
}

#frame .content .message-input .wrap{
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 60px;
  background-color: $md-gray;
}

#frame .content .message-input .wrap textarea {
  font-family: "proxima-nova",  "Source Sans Pro", sans-serif;
  border: none;
  background: none;
  width: 90%;
  margin-left: 10px;
  padding: 11px 32px 10px 8px;
  font-size: 1em;
  color: $dark-gray;
  border-radius: 5px;
  resize: none;
  height: 40px;
  overflow-y: hidden;
}
@media screen and (max-width: 735px) {
  #frame .content .message-input .wrap textarea {
    padding: 15px 32px 14.2px 8px;
  }
}
#frame .content .message-input .wrap textarea:focus {
  outline: none;
}
#frame .content .message-input .wrap .attachment {
  position: absolute;
  right: 60px;
  z-index: 4;
  margin-top: 10px;
  font-size: 1.1em;
  color: #ffffff;
  opacity: .5;
  cursor: pointer;
}
@media screen and (max-width: 735px) {
  #frame .content .message-input .wrap .attachment {
    margin-top: 17px;
    right: 65px;
  }
}
#frame .content .message-input .wrap .attachment:hover {
  opacity: 1;
}
#frame .content .message-input .wrap i {
  cursor: pointer;
  color: $dark-gray;
  font-size: 2rem;
}
@media screen and (max-width: 735px) {
  #frame .content .message-input .wrap i {
    padding: 16px 0;
  }
}
#frame .content .message-input .wrap i:hover {
  color: $dark-gray;
}
#frame .content .message-input .wrap button:focus {
  outline: none;
}

.typing {color: green; font-weight: bold; margin-left: 4px; font-size: small;}

.invitation {
  width: 100%;
  height: 100px;
  background: #fff;
  text-align: center;
}

.invitation button {
  border: 1px solid transparent;
  border-radius: 50px;
  display: inline;
  margin-left: 5px;
}
.invitation h2 {color: #2f8aca;}
.invitation button:hover {
  background: white;
  color: black;
}
.invitation .reject:hover{background: rgb(243, 180, 180);}
.invitation .accept:hover{background: rgb(158, 172, 250);}